*, *::before, *::after{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body {
    background-color: #eee;
    text-align: center;
    width: 80%;
    margin: auto;
}
nav {
    background-color: #333;
    height: 2rem;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
    
}
nav h3{
   color: #fefefe;
   text-align: center;
   padding-top: 3px;
}
main {
    width: 85%;
    margin: auto;
}
.on {
    background-color: green;
    border: 1px solid black;
    padding: .4px;
    border-radius: 70%;

}
.off {
    background-color: #333;
    border: 1px solid black;
    padding: .4px;
    border-radius: 70%;

}
.ok-btn {
    text-decoration: none;
    background-color: cadetblue;
    border-radius: 4px;
    padding: 1px;
    font-size: 10px;
}
#bg-btn {
    margin-top: 40px
}
#bg-btn > a{
    text-decoration: none;
    background-color: cadetblue;
    padding: 10px;
    width: 10px;
    border-radius: 500%;
    border: 1px solid;
    color: white;
    z-index: 1;
}

.overlay{
    position: fixed;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 99;
    pointer-events: none;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
}

input[type="checkbox"]:checked ~ .overlay {
    pointer-events: auto;
    opacity: 0.9;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
            transition: transform 0.5s ease, opacity 0.5s ease;
}

.modal {
    position: fixed;
    top: 7%;
    left: 40%;
    z-index: 100;
    
    max-width: 690px;
    opacity: 0;
    display: none;
    border: 1px solid black;
    pointer-events: auto;
    -webkit-transform:translate(-50, -50) scale(0.5);
            transform:translate(-50, -50) scale(0.5);
}
#add-btn {
    background-color: cadetblue;
    padding: 4px;
    border-radius: 4px;
    margin-top: 6px; 
}
input[type="checkbox"]:checked ~ .modal {
    display: block;
    pointer-events: auto;
    opacity: 0.9;
    -webkit-transform:translate(-50, -50) scale(1);
            transform:translate(-50, -50) scale(1);
    -webkit-transition: transform 0.6s ease, opacity 0.6s ease;
            transition: transform 0.6s ease, opacity 0.6s ease;
            
    transition-delay: 0.6s;
}

.modal-contents {
    display: block;
    padding: 30px;
    background-color: #fff;
}